.maincontent {
  display: flex;
}

.mainform {
  flex-grow: 1;
}

.containerHotel {
  flex-grow: 100;
}

.listHotel {
  padding: 5px;
  border: #999 solid 1px;
  margin: 2px;
}

.hotelPage {
  padding: 5px;
  border: #999 solid 1px;
  margin: 2px;
}

.link {
  text-decoration: none;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  margin: 5px;
}

.link:hover {
  color: blue;
}
